{% extends 'campingbike/base.html' %}
{% load static %}
{% block head %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>


    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'campingbike/css/endurance.css' %}">
{% endblock %}
{% block content %}
    <h2>Coll de banyuls</h2>
    <div class="folium-map" id="map_6be92f8b4bd54b78905cd14785fa6164" ></div>
    <div id="mapContainer" ></div>
    <img id="altimetria"class="float-right" src="{% static 'campingbike/Rutaverda.png' %}">
    <h2 id="h">St. Pere de Rodes</h2>
    <div id="mapContainer2" ></div>
    <img id="altimetria2"class="float-right" src="{% static 'campingbike/Rutaverda.png' %}"><br>
    <div class="comentaris">
    {% for ruta in Rutes %}

        {{ruta.nom}}<br>
        {{ruta.km}} km. {{ruta.temps}}<br>
        {{ruta.opinio}}<br>
        <a href="{{ruta.link}}">Link a la ruta</a>
    {% endfor %}
    </div>

<script src="{% static 'campingbike/js/endurance.js' %}"></script>
{% endblock %}
