{% extends 'campingbike/base.html' %}
{% load static %}
{% block head %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>


    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'campingbike/css/endurance.css' %}">
{% endblock %}
{% block content %}
    <h2>Coll de banyuls</h2>
    <div class="folium-map" id="map_6be92f8b4bd54b78905cd14785fa6164" ></div>
    <div id="mapContainer" class="d-block"></div>
    <div class="row justify-content-end  pt-3">
        <img id="altimetria"class=" " src="{% static 'campingbike/Rutaverda.png' %}"><br>
    </div>

    <h2 id="h" class="">St. Pere de Rodes</h2>
    <div id="mapContainer2" ></div>
    <div class="row justify-content-end  pt-3">
        <img id="altimetria2"class=" " src="{% static 'campingbike/Rutaverda.png' %}"><br>
    </div>
    <div class="comentaris d-block pt-5">
    <h3 class="pb-3">Opinions</h3>

        {% for ruta in Rutes %}
        <div class="row p-2">
            <img src="{{ruta.imatge}}" class="col-lg-5 col-md-6" width="100%"height="100%">
            <div class="col-md-6 col-lg-7 p-3">
                <p>Ruta: {{ruta.comentari}}</p>
                <p>Distancia: {{ruta.km}} km. Temps: {{ruta.temps}}</p>
                <p>{{ruta.opinio}}</p>
                <a  href="{{ruta.link}}">Link a la ruta</a>
            </div>
        </div>
        {% endfor %}
    </div>

<script src="{% static 'campingbike/js/endurance.js' %}"></script>
{% endblock %}