{% extends 'campingbike/base.html' %}
{% load i18n %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css">
<link rel="stylesheet" href="{% static 'InContent-master/css/sass-compiled.css'%}">
<link rel="stylesheet" href="{% static 'campingbike/css/index.css' %}">

{% endblock %}

{% block content %}
<div class="bxslider p-3">
    <div><img src="{% static 'campingbike/cycle.jpg' %}" title=""></div>
    <div><img src="{% static 'campingbike/bicis.jpg' %}" title=""></div>
    <div><img src="{% static 'campingbike/carretera-tenda.jpg' %}" title=""></div>
</div>
<div class="container p-3">

  <div class="row">
    <ul class="ch-grid">

      <li>
          <div class="ch-item ch-img-1">
              <div class="ch-info">
                  <a href="{% url 'campingbike:familiar' %}"><h3>{% trans "Familiar" %}</h3></a>
                  <p>{% trans "Pensades perque hi vagin nens" %}</p>
              </div>
          </div>
      </li>

      <li>
          <div class="ch-item ch-img-2">
              <div class="ch-info">
                  <h3>{% trans "Parelles" %}</h3>
                  <p></p>
              </div>
          </div>
      </li>
      <li>
          <div class="ch-item ch-img-3">
              <div class="ch-info">
                  <h3>Endurance</h3>
                  <p>{% trans "Les rutes més exigents" %}</p>
              </div>
          </div>
      </li>
    </ul>
  </div>
</div>
<style>
  .ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
	box-shadow:
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}
.ch-img-1 {
	background-image: url({% static 'campingbike/thumbnail.jpg' %});
}

.ch-img-2 {
	background-image: url({% static 'campingbike/thumbnail.jpg' %});
}

.ch-img-3 {
	background-image: url({% static 'campingbike/thumbnail.jpg' %});
}
.ch-info {
	position: absolute;
	background: rgba(63,147,147, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 140px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	transition: all 1s ease-in-out 0.4s;
}
.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}
.ch-item:hover {
	box-shadow:
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	transform: scale(1);
	opacity: 1;
}
.ch-item:hover .ch-info p {
	opacity: 1;
}
</style>
{% endblock %}
{% block js %}
<script src="{% static 'InContent-master/libs/modernizr.js' %}"></script>
<script src="{% static 'node_modules/bxslider/dist/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'campingbike/js/index.js' %}"></script>
<script>

</script>

{% endblock %}