{% extends 'campingbike/base.html' %}
{% load i18n %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/1.0/css/imagehover.min.css">
<link rel="stylesheet" href="{% static 'InContent-master/css/sass-compiled.css'%}">
<link rel="stylesheet" href="{% static 'campingbike/css/index.css' %}">

{% endblock %}

{% block content %}
<div class="bxslider p-3">
    <div><img src="{% static 'campingbike/cycle.jpg' %}" title=""></div>
    <div><img src="{% static 'campingbike/bicis.jpg' %}" title=""></div>
    <div><img src="{% static 'campingbike/carretera-tenda.jpg' %}" title=""></div>
</div>
<div class="container p-3 ">

  <div class="row pb-5">
    <ul class="ch-grid">

      <li>
          <div class="ch-item ch-img-1">
              <div class="ch-info">
                  <a href="{% url 'campingbike:familiar' %}"><h3>{% trans "Familiar" %}</h3></a>
                  <p>{% trans "Pensades perque hi vagin nens" %}</p>
              </div>
          </div>
      </li>

      <li>
          <div class="ch-item ch-img-2">
              <div class="ch-info">
                  <a href="{% url 'campingbike:parelles' %}"><h3>{% trans "Parelles" %}</h3></a>
                  <p></p>
              </div>
          </div>
      </li>
      <li>
          <div class="ch-item ch-img-3">
              <div class="ch-info">
                  <a href="{% url 'campingbike:endurance' %}"><h3>Endurance</h3></a>
                  <p>{% trans "Les rutes més exigents" %}</p>
              </div>
          </div>
      </li>
    </ul>
  </div>
    <h2>{% trans "Altres opcions" %}</h2>
    <div class="bxslider">
        <div><img src="{% static 'campingbike/visit/1.jpg' %}" style="width:1400px;" title="Peralada, Girona, Catalonia"></div>
        <div><img src="{% static 'campingbike/visit/2.jpg' %}" style="width:1400px;" title="El Port de la Selva (Alt Emporda), Girona, Catalonia"></div>
        <div><img src="{% static 'campingbike/visit/4.jpg' %}" style="width:1400px;" title="Platja de Port Bo (Palafrugell, Baix Emporda), Catalonia"></div>
        <div><img src="{% static 'campingbike/visit/5.jpg' %}" style="width:1400px;" title="Cap de Bou (Banyoles, Pla de l'Estany), Girona, Catalonia"></div>
        <div><img src="{% static 'campingbike/visit/6.jpg' %}" style="width:1400px;" title="Estany de Banyoles, Girona, Catalonia"></div>
        <div><img src="{% static 'campingbike/visit/7.jpg' %}" style="width:1400px;" title="Cadaqués (Cadaqués, Alt Emporda), Girona, Catalonia"></div>
        <div><img src="{% static 'campingbike/visit/9.jpg' %}" style="width:1400px;" title="Aigua Xelida (Palafrugell, Baix Emporda), Girona, Catalonia"></div>


    </div>
</div>

<style>

.ch-img-1 {
	background: url({% static 'campingbike/bicis-sortida.jpg' %});
	background-repeat: no-repeat;
	background-size: 220px 220px;
}

.ch-img-2 {
	background-image: url({% static 'campingbike/couple.jpg' %});
	background-repeat: no-repeat;
	background-size: 220px 220px;
}

.ch-img-3 {
	background-image: url({% static 'campingbike/orbea.jpg' %});
	background-repeat: no-repeat;
	background-size: 220px 220px;
}
</style>
{% endblock %}
{% block js %}
<script src="{% static 'InContent-master/libs/modernizr.js' %}"></script>
<script src="{% static 'node_modules/bxslider/dist/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'campingbike/js/index.js' %}"></script>
<script>

</script>

{% endblock %}